.headerWrapper {
    /* display: flex; */
    max-width: 1090px;
    margin: 0 auto;
    color: aliceblue;
    padding-top: 18px;
}

.headerContainer {
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    border: 1px solid aliceblue;
    border-radius: 10%;
    text-decoration: none;
    color: aliceblue;
}

.headerOption {
    display: flex;
    font-size: 13px;
}

.headerOption>div {
    margin-left: 5px;
}

.headerOption_Login {
    display: flex;
}

.headerOption_Login>div {
    margin-left: 5px;
}

.menuContainer {
    padding: 0 5px;
    font-size: 15px;
}

.menuList {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    display: flex;
}

.menuItemWrapper {
    display: contents;
}
.menuItemWrapper:hover .menuItemIcon{
    display: none;
}
.menuItemWrapper:hover .menuItemIcon_hover{
    display: initial;
}
.menuItemIcon{
    margin-left: 5px;
    font-size: 10px;
}
.menuItemIcon_hover{
    margin-left: 5px;
    font-size: 10px;
    display: none;
}

.menuItem {
    text-decoration: none;
    padding: 10px;
    color: aliceblue;
}

.menuItem_active {
    padding-bottom: 6px;
    border-bottom: 4px solid aliceblue;
}

/* PC (해상도 1024px)*/

@media all and (min-width:768px) {
    /*스타일입력*/
    body {
        background-color: rgb(255, 183, 183);
    }
}

/* 테블릿 (해상도 480px ~ 767px)*/

@media all and (min-width:480px) and (max-width:767px) {
    .headerContainer {
        justify-content: center;
    }
    .headerLogo {
        border: 1px solid aliceblue;
        border-radius: 10%;
    }
    .headerOption {
        display: none;
    }
}

/* 모바일 (해상도 ~ 479px)*/

@media all and (max-width:479px) {
    .headerContainer {
        justify-content: center;
    }
    .headerLogo {
        border: 1px solid aliceblue;
        border-radius: 10%;
    }
    .headerOption {
        display: none;
    }
}