@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif, 'Roboto', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* PC (해상도 1024px)*/

@media all and (min-width:768px) {
  /*스타일입력*/
  body {
    background-color: rgb(255, 183, 183);
  }
}

/* 테블릿 (해상도 480px ~ 767px)*/

@media all and (min-width:480px) and (max-width:767px) {
  /*스타일입력*/
  body {
    background-color: rgb(174, 193, 255);
  }
}

/* 모바일 (해상도 ~ 479px)*/

@media all and (max-width:479px) {
  /*스타일입력*/
  body {
    background-color: rgb(183, 255, 187);
  }
}